<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" configfailurepolicy="skip" parallel="tests">
    <test name="Selenium Spring Test 1">
        <classes>
            <class name="io.happykraken.basic.DeviantArtTestNG"></class>
        </classes>
    </test>

<!--    <test name="Selenium Spring Test 2">-->
<!--        <classes>-->
<!--            <class name="io.happykraken.basic.runners.Test_DeviantArt"></class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>